@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model CarbonProject.Models.MembersViewModel
@{
    var role = HttpContextAccessor.HttpContext?.Session.GetString("Roles");
    // 依角色決定 Layout
    if (role.Contains("Admin"))
    {
        Layout = "_LayoutAdmin";
    }
    else if (role.Contains("Manager") || role.Contains("Staff") || role.Contains("Company"))
    {
        Layout = "_LayoutDashboard";
    }
    ViewData["Title"] = "個人資料";
}

<h2>個人資料</h2>

@if(TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<div class="ms-5">
    @if (!string.IsNullOrEmpty(Model.ProfileImage))
    {
        <img src="~/img_profile/@Model.ProfileImage" class="img-thumbnail my-3" style="width:150px; height:150px;" alt="Profile Image">
    }
    else
    {
        <div class="bg-secondary text-white img-thumbnail d-flex align-items-center justify-content-center my-3"
             style="width:150px; height:150px; font-size: 2rem;">
            N/A
        </div>
    }
    <table class="table table-borderless mb-0">
        <tbody>
            <tr><th class="col-1">帳號:</th><td>@Model.Username</td></tr>
            <tr><th class="col-1">姓名:</th><td>@Model.FullName</td></tr>
            <tr><th class="col-1">Email:</th><td>@Model.Email</td></tr>
            <tr><th class="col-1">電話:</th><td>@Model.PhoneConfirmed</td></tr>
            <tr><th class="col-1">公司:</th><td>@Model.Company?.CompanyName</td></tr>
            <tr><th class="col-1">角色:</th><td>@Model.Role</td></tr>
            <tr><th class="col-1">生日:</th><td>@(Model.Birthday?.ToString("yyyy/MM/dd") ?? "未填寫")</td></tr>
            <tr><th class="col-1">地址:</th><td>@(Model.Address ?? "未填寫")</td></tr>
        </tbody>
    </table>
</div>
<div class="ms-5 mt-1">
    <a class="btn btn-primary" href="@Url.Action("EditProfile")">編輯個人資料</a>
    <a class="btn btn-warning" href="@Url.Action("ChangePassword")">修改密碼</a>
</div>